.sidebar {
  width: 240px;
  height: 100vh;
  background: linear-gradient(180deg, #0b5ed7, #084298);
  color: white;
  position: fixed;
  padding: 25px 20px;
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 35px;
  font-size: 22px;
  font-weight: bold;
}

/* Navigation */
.nav-link {
  color: #e3eafc;
  padding: 16px 25px;
  display: block;
  border-radius: 5px;
  margin-bottom: 18px;
  text-decoration: none;
  font-size: 17px;  
  transition: background  0.3s ease;
}

/* Hover effect */
.nav-link:hover {
  background: rgba(255,255,255,0.25);
  color: rgba(51, 51, 51, 0);
  padding: 8px;
}

/* Active menu */
.nav-link.active {
  background: rgb(42, 41, 41);
  padding: 8px;
  color: #f3ffff;
  border-left: 4px solid rgba(51, 51, 51, 0) ;
}
